* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0f172a;
  color: white;
  overflow-x: hidden;
}

/* Particles */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Hero */
.hero {
  text-align: center;
  margin-top: 100px;
}

/* Cards */
.card {
  width: 60%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  transition: 0.4s;
  transform-style: preserve-3d;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* 3D Hover */
.card:hover {
  transform: scale(1.05);
}

/* List */
ul {
  list-style: none;
}

ul li {
  padding: 5px;
}

/* Responsive */
@media(max-width: 768px) {
  .card {
    width: 90%;
  }
}